<% provide(:title, "Help") %>
<div class="row clearfix">
		<div class="col-md-6 column">
			<h2>
			<%=t :livros %>
			</h2>
			<p>
			<%=t :ctexto %>
			<%=t :ctexto %>
			</p>
			<p>
				<a><%= link_to "Ver Livros",   livros_path %></li></a>
			</p>
		</div>
		<div class="col-md-6 column">
			<h2>
			<%=t :livros %>
			</h2>
			<p>
				
			<%=t :ctexto %>
			<%=t :ctexto %>
			</p>
			<p>
				<a><%= link_to "Ver Livros",   livros_path %></li></a>
			</p>
		</div>
	</div>