 <footer class="footer">
   <hr>
    <nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header"  style="padding:10px">
					  <small>
                         	<b><%=t :obj%>:</b>	Projeto em Ruby and Rails<br>
                            <b><%=t :desc %>:</b>	Projeto para disciplina RAD - 2015.1<br>
                         	<b><%=t :eqp %>:</b>	Natacha Targino, Jaqueline Fernandes
                      </small>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float: right;  padding:10px">
					<ul class="nav navbar-nav">
						<li><%= link_to "Home", root_path %></li>
    			<li><%= link_to t('livros'), livros_path %></li>
    			<li><%= link_to t('contato'), contact_path %></li>
    			<li><%= link_to "Help", help_path %></li>
         </ul>

    </div>			
			</nav>
  </footer>
 