<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/index">Projeto RAD</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to t('livros'), livros_path %></li>
						<li><%= link_to t('contato'), contact_path %></li>						
						<li><%= link_to "Help", help_path %></li>
         <% unless user_signed_in? %>
            <li><%= link_to t('clogin'), new_user_registration_path %></li>
            <li><%= link_to t('flogin'), new_user_session_path %></li>
          <%else%>
            <li><%= link_to t('leituras'), leituras_path %></li>
            <li><%= link_to t('dlogin'), destroy_user_session_path, method: :delete %></li>
            <li><%= link_to t('elogin'), edit_user_registration_path %></li>
          <%end%>
          
        </ul>
   
       <% if user_signed_in? %>
      <p style="text-align:right; padding-top:15px"><%=t :olauser %>, <%= current_user.email%> !</p>
      <% end %>
    </div>			
			</nav>